# Ignore distribution folders
dist/
build/
*.egg-info/

# Ignore virtual environment folder
venv/

# Ignore manim media folder
media/

# Ignore tests for now
tests/



# Ignore pycaches
**/__pycache__/
.pytest_cache/
